@model IEnumerable<Warehouse>
@{
    ViewData["Title"] = "Noliktavas";
}

<h1>Noliktavas</h1>
<a asp-controller="Warehouses" asp-action="Create" class="btn btn-primary">
    <i class="bi bi-plus-lg"></i> Jauna Noliktava
</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nosaukums</th>
            <th scope="col">Adrese</th>
            <th scope="col">Ietilpība</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="35%">@obj.Name</td>
                <td width="35%">@obj.Address</td>
                <td width="10%">@obj.Capacity</td>
                <td width="20%">
                    <div class="btn-group" style="float:right">
                        <a asp-controller="Items" asp-action="Index" asp-route-id="@obj.Id" class="btn btn-success" style="float:none">Atvērt</a>
                        <a asp-controller="Warehouses" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning" style="float:none">Rediģēt</a>
                        @if(obj.Capacity == 0){
                        <a asp-controller="Warehouses" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger" style="float:none">Dzēst</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>